<div class="etiqueta__box" id="htmlData">
    <div class="etiqueta__box__nombre">
        <p>{{proveedor.nombre}}</p>
    </div>
    <div class="etiqueta__box__calle">
        <p>{{proveedor.direccion}}</p>
    </div>
    <div class="etiqueta__box__localizacion flex-1rem">
        <p>{{proveedor.cp}},</p>
        <p>{{proveedor.localidad}},</p>
        <p>{{proveedor.provincia}}</p>
    </div>
    <div class="etiqueta__box__telefono flex-1rem">
        <p>{{proveedor.telefono}},</p>
        <p>{{proveedor.email}}</p>
    </div>
</div>
