.proveedor
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
}
.proveedor__box{
    background-color: white;
    width: min(40rem,60%);
    padding: 2rem;
}
.botonClose{
    border-radius: 50%;
    background-color: white;
    padding: 1rem;

}
td{
    text-align: center;
}
